body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: pink;
  height: 74vh;
}
header > .containment > h1 {
  text-transform: capitalize;
  font-family: sans-serif;
  color: white;
}

img {
  max-width: 100px;
}
.img {
  display: flex;
  flex: 1;
  gap: 30px;
}
.paper {
  min-width: 100px;
}

button {
  background-color: transparent;
  color: white;
  text-transform: capitalize;
  text-decoration: solid;
  font-size: large;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px 40px;
  margin: 5px 10px;
}
.button {
  padding-bottom: 30px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15vw;
}

article .article_container > div > h1 {
  text-transform: capitalize;
  font-family: sans-serif;
}

footer {
  margin: 0;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  background-color: skyblue;
  text-align: center;
}
.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}
img {
  width: 100%;
  height: 100%;
  place-self: center;
}
.fa-solid {
  color: gold;
}
.left {
  display: grid;
  grid-template-rows: 20% 1fr;
}

.right {
  display: grid;
  grid-template-rows: 20% 1fr;
}

.starIcons {
  align-self: center;
  justify-self: center;
}
.cards {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  max-width: 50vw;
  height: 20vh;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.computerCard {
  width: 35%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.text {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.text > p {
  font-weight: bold;
  font-family: sans-serif;
  font-size: xx-large;
  color: white;
}

.container > p {
  /* align-self: center; */
  justify-self: end;
}
